<p style="color: green"><%= notice %></p>

<% content_for :title, "Dinos" %>

<h1>Dinos</h1>

<div id="dinos">
  <% @dinos.each do |dino| %>
    <%= render dino %>
    <p>
      <%= link_to "Show this dino", dino %>
    </p>
  <% end %>
</div>

<%= link_to "New dino", new_dino_path %>
